@CHARSET "UTF-8";
#topmenu {
	margin-left: 50px;
	height: 50px;
	position: relative;
	
}

#topmenu ul {
	font-family: Arial, Verdana;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
	
}

#topmenu ul li {
	display: block;
	position: relative;
	float: left;
}

#topmenu li ul {
	display: none;
}

#topmenu ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	padding: 5px 15px 5px 15px;
	background: #2C5463;
	margin-left: 1px;
	white-space: nowrap;
}

#topmenu ul li a:hover {
	background: #617F8A;
}

#topmenu li:hover ul {
	display: block;
	position: absolute;
}

#topmenu li:hover li {
	float: none;
	font-size: 11px;
}

#topmenu li:hover a {
	background: #617F8A;
}

#topmenu li:hover li a:hover {
	background: #95A9B1;
}

